doctype html
html
    head
        title Flash Card App
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/styles.css")
    body
        block content